<a href="https://colab.research.google.com/github/Tonni12/ALX-Data-Science/blob/python_programming_files/Exercise_files_alx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
animals = ['Great White Shark', 'Blue Whale', 'African Elephant', 'Bald Eagle', 'Orangutan', 'Tiger', 'Panda', 'Koala']
for animal in animals:
  print(animal)

Great White Shark
Blue Whale
African Elephant
Bald Eagle
Orangutan
Tiger
Panda
Koala

Use a while loop to print numbers from 0 to **4** **bold text**

In [2]:
i = 0
while i < 5:
  print(i)
  i += 1

0
1
2
3
4

In [3]:
### using a break statement to stop program execution within the loop
for animal in animals:
  if animal == 'Orangutan':
    print(animal)
    break

Orangutan

In [4]:
for animal in animals:
  if animal == 'Bald Eagle':
    continue
  print(animal)

Great White Shark
Blue Whale
African Elephant
Orangutan
Tiger
Panda
Koala

In [5]:
for animal in animals:
  if animal == 'Panda':
    pass
  else:
   print(animal)

Great White Shark
Blue Whale
African Elephant
Bald Eagle
Orangutan
Tiger
Koala

In [6]:
# looping through an iterable type: lists using enumerate function
deforestation_rates = [150, 145, 140, 135, 130]
deforestation_years = [2010, 2011, 2012, 2013, 2014]

In [7]:
for i, rate in enumerate(deforestation_rates):
  year =  deforestation_years[i]
  print(f"i = {i} - Yearly deforestation rate in {year} is: {rate}k hectares")

i = 0 - Yearly deforestation rate in 2010 is: 150k hectares
i = 1 - Yearly deforestation rate in 2011 is: 145k hectares
i = 2 - Yearly deforestation rate in 2012 is: 140k hectares
i = 3 - Yearly deforestation rate in 2013 is: 135k hectares
i = 4 - Yearly deforestation rate in 2014 is: 130k hectares

In [8]:
## Looping over dictionary
marine_species_count = {
    'Dolphin': 12,
    'Whales': 5,
    'Shark': 3,
    'Eel': 26,
    'Sea Turtles': 15,
    'Ray Fish': 8,
    'Octopus': 10
}
for species in marine_species_count:
  print(f'{species}: {marine_species_count[species]} sightings')

Dolphin: 12 sightings
Whales: 5 sightings
Shark: 3 sightings
Eel: 26 sightings
Sea Turtles: 15 sightings
Ray Fish: 8 sightings
Octopus: 10 sightings

In [9]:
endangered_marine_species = ['Hawksbill Turtle', 'Vaquita', 'Blue Whale', 'Staghorn Coral', 'Green Turtle']
endangered_count = 0
for species in endangered_marine_species:
  endangered_count += 1
print(f'Number of endangered marine species: {endangered_count}')

Number of endangered marine species: 5

In [10]:
# deforestation alert system with a while loop when the forest area is below threshold
initial_forested_area = 1000 # in square kilometers
deforestation_rate = 20   # square kilometers per year
years = 0
while initial_forested_area > 500:
  initial_forested_area -= deforestation_rate
  years += 1
print(f'Years until critical deforestation level: {years}')

Years until critical deforestation level: 25

In [11]:
# biodiversity analysis on whehther they are endangered or not
animals = ['Tiger', 'Blue Whale', 'African Elephant', 'Koala', 'Panda']
endangered_animals = ['Tiger', 'Blue Whale', 'African Elephant']
for animal in animals:
  if animal in endangered_animals:
    print(f'{animal} is endangered')
  else:
    print(f'{animal} is not endangered')

Tiger is endangered
Blue Whale is endangered
African Elephant is endangered
Koala is not endangered
Panda is not endangered

In [12]:
# ocean pollution tracker
ocean_pollution_data = {
    'Pacific Ocean': [3, 5, 2],
    'Atlantic Ocean': [7, 2, 4],
    'Indian Ocean': [5, 1, 3]
}
for ocean, pollution_levels in ocean_pollution_data.items():
    total_pollution = sum(pollution_levels)
    average_pollution = total_pollution / len(pollution_levels)
    print(f'Average pollution level in the {ocean}: {average_pollution:.2f} ')

Average pollution level in the Pacific Ocean: 3.33
Average pollution level in the Atlantic Ocean: 4.33
Average pollution level in the Indian Ocean: 3.00

In [13]:
# simulating a conservation effort with a while loop of species
current_population = 150   # of a particular endangered species
target_population = 500
years = 0
growth_rate = 1.07 # 7% annual growth due to conservation efforts
while current_population < target_population:
    current_population *= growth_rate
    years += 1
print(f'Years to reach target population: {years}')

Years to reach target population: 18

In [14]:
# list comprehension

numbers = range(1, 11)
squares = [number ** 2 for number in numbers]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
# list comprehension with conditionals

numbers = range(1, 21)
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
# dictionary comprehension with loops
marine_animals = {'Dolphin', 'Shark', 'Turtle'}
animal_categories = {animal: 'Aquatic' for animal in marine_animals}
print(animal_categories)

{'Dolphin': 'Aquatic', 'Turtle': 'Aquatic', 'Shark': 'Aquatic'}

In [24]:
# Data mapping with dictionary comprhension
species = ['Dolphins', 'Sea Turtles', 'Seals']
status = ['Endangered', 'Vulnerable', 'Endangered', 'Least Concern']

number_of_species = range(len(species))
endangered_species = {species[i]: status[i] for i in number_of_species if status[i] == 'Endangered' }

print(endangered_species)

{'Dolphins': 'Endangered', 'Seals': 'Endangered'}